.App {
  text-align: center;
  background-color: #FCF7E3;
  min-height: 100vh;
  width: 90%;
}

.appOuter {
  display: flex;
  justify-content: center;
  background-color: #F7E7A6;
}


.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #BD5352;
}

hr {
  width: 85%;
  color: #BD5351;
  margin: 20px;
}

.App-body {
  min-height: 75vh;
}


h3{
 margin: 5px;
}
.App-link {
  color: #61dafb;
}
